<h3>Resetting Password for <%= @user.username %> - (<%= @user.full_name %>)</h3>
<%= form_tag(:action => "save_password") do %>
  <input type="hidden" name="username" id="username" value="<%= @user.username %>">
  <label for="password">New Password </label>
  <input type="password" name="password" id="password"> 
  <br>
  <label for="password">Rytype Password </label>
  <input type="password" name="confirm-password" id="confirm-password">
  <%= submit_tag 'Reset', :class => 'button' %><br>
  <span id="password-error" style="color:red;font-size:9px;margin-left:204px">Passwords do not match.</span>
<% end %>
